fastapi
python-multipart
uvicorn          
python-dotenv    
sqlalchemy        
psycopg2-binary
alembic
pydantic[email]
firebase-admin
requests
httpx
pandas
pymupdf
pdfplumber
openai
anthropic
aisuite
jinja2
pydantic-settings
tabulate