fastapi
python-multipart
uvicorn          
python-dotenv    
sqlalchemy        
psycopg2-binary
alembic
pydantic[email]
firebase-admin
requests
httpx
pandas
pymupdf
pdfplumber
anthropic
aisuite
jinja2
pydantic-settings
tabulate
pymupdf4llm
google-generativeai
regex
fuzzysearch
markdown2
openai
beautifulsoup4