Analise o texto e os exemplos de resultados para criar uma expressão regular (regex) em Python que capture APENAS os resultados. 

Responda apenas o regex e NADA MAIS.

Por exemplo,

Para a entrada:
Texto:
'victor tem 1.93'
'ana livia 1.74'

Resultados Esperados:
'1.74',
'1.93'

A resposta deve ser APENAS:
'\d\.\d{2}'

Agora faça para esse caso:

Texto:
'{{ text }}'

Resultados Esperados:
{{ selected_texts }} 

Resposta: